/* 기본 프레임. */
#frame{
    border: 5px dotted lightblue;
    background-color: rgb(236, 250, 253);

    /* TODO: width, height 정하기 */
    width: 80%;
    /* width : 960px; */
    /* height: 500px; */
    overflow: hidden;
}


div{
    background-color: green;
}

